<div class="container">
  <button type="button" class="btn btn-light" routerLink='/mascota/crear'>Crear Mascota</button>
  <div class="row tabla">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Fecha de nacimiento</th>
            <th>Intitucion</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>Ratón</td>
            <td>15</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Teclado</td>
            <td>34</td>
            <td>340</td>
          </tr>
          <tr>
            <td>Pantalla</td>
            <td>10</td>
            <td>400</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
