.center{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.form-group{
  margin: 1rem;
align-items: center;
}
.btn{
display: flex;
align-items: center;
  justify-content: center;
}
.legend{
  margin: 1rem;
  display: flex;
  justify-content: center;

}
