<div class="container">
  <div class="row">
    <legend class="legend"> Crear institución</legend>
    <div class="col">
      <div class="well well-sm">
        <form [formGroup]="form" (ngSubmit)="createInstitute()" class="form" style="margin-left: 15rem;">
          <div class="form-group">
            <div class="col-md-8">
              <input id="name" name="name" type="text" placeholder="Nombre de la institución" class="form-control"
                minlength="5"formControlName="name"  maxlength="120" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8">
              <input id="email" name="email" formControlName="email"type="email" placeholder="Correo de la institución" class="form-control"
                required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8">
              <input id="phone" name="phone" formControlName="phone" type="number" maxlength="10"
                placeholder="Telefono de la insitucion sin espacios. Ej: 3223336556 " class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 text-center ">
              <button type="submit" class="btn btn-primary btn-lg ">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
