<div class="container" style="margin: 2rem;">

  <button type="button" class="btn btn-dark" routerLink='/institucion/crear'style="margin: 1rem;">Crear institución</button>
 <!--  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
  <table  class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of institutes">
        <td>
          {{i.id}}
        </td>
        <td>
          {{i.name}}
        </td>
        <td>
          {{i.email}}
        </td>
        <td>
          {{i.phone}}
        </td>
        <td>
          <button id="edit" type="button" class="btn btn-primary">Editar</button>
          <button type="button" class="btn btn-secondary">Eliminar</button>
        </td>
      </tr>
     <!--  <tr *ngFor="let person of persons">
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
