<div class="container" style="margin: 2rem;">

  <button type="button" class="btn btn-dark" routerLink='/institucion/crear'style="margin: 1rem;">Crear institución</button>
 <!--  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
  <table  class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
     <!--  <tr *ngFor="let person of persons">
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
